h1 {
  font-size: 4rem;
  font-style: oblique;
  text-align: center;
  font-weight: bold;
}

h3 {
  color: rgb(136, 233, 10);
  font-style: serif;
  font-size: 2rem;
  border: rgba(141, 190, 28, 0.199) 5px solid;

}

h4 {
  font-size: 1.25rem;
  font-style: serif;

}

p {
  font-size: 1.5rem;
  font-style: serif;
  font-weight: 400;
  text-align: justify;
}

.ig {
  color: #0c3b06;
  font-style: serif;
}

.subtitulos {
  font-weight: 100;
  width: 100%;
  margin-bottom: 50px;
}
.seleccionado {
  background-color: rgb(200, 255, 0);
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #d7e6ad;
  }

  .contenedor1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 3.5rem;
    font-style: oblique;
    text-align: center;
  }

  p {
    font-size: 1.4rem;
    font-style: serif;
    font-weight: 300;
    text-align: center;
  }

  .colorParrafo {
    color: #a8b81a;
  }

  .marcasAlineadas {
    display: flex;
    flex-direction: column;
  }
}