header {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  text-align: right;
  line-height: 35px;
  max-width: 1400px;
  margin: 0 auto;

  ul {
    font-size: 1.3rem;
  }

  li {
    display: inline-block;
    line-height: 1.5;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.logo {
  position: absolute;
  left: 0;
  width: 80px
}

/* query */

@media only screen and (max-width: 700px) {
  header {

    ul {
      font-size: 0.6rem;
      font-weight: bold;

    }

    .navbar-brand {
       width: 50px
    }
  }

}